
.slider-wrapper {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-columns: 0.15fr 0.05fr 0.6fr 0.05fr 0.15fr;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 20px;
}
.bom-slider  {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2 / 2;
}

.bom-slider {
    height: 10px;
}

.bom-slider .noUi-connect {
    background: #c0392b;
}


.bom-slider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

.bom-time-label-min {
    grid-column: 2/5;
    grid-row: 1/2;
}

.bom-time-label-max {
    grid-column: 4/5;
    grid-row: 1/2;
}

.noUi-handle {
  --border-opacity: 0.3;
  --shadow-opacity: 0.2;

  border: 1px solid rgba(0, 0, 0, var(--border-opacity)); /* Subtle border for contrast */
  border-radius: 3px;
  background: #fff; /* Default background, can be changed */
  cursor: default;
  box-shadow: 
    inset 0 0 1px rgba(255, 255, 255, 0.7), /* Use white with reduced opacity for inner glow */
    inset 0 1px 7px rgba(0, 0, 0, var(--shadow-opacity)), /* Soft inner shadow */
    0 3px 6px -3px rgba(0, 0, 0, var(--shadow-opacity)); /* Outer shadow */

  transition: all 0.3s ease; /* Slight transition for smooth appearance changes */
}

.noUi-handle:before, .noUi-handle:after {
display: none;
}
/* .bom-slider .noUi-tooltip { */
/*     display: none; */
/* } */
/* .bom-slider .noUi-active .noUi-tooltip { */
/*     display: block; */
/* } */
